---
layout: archive
title: "Generative AI Tools Development"
permalink: /projects/
author_profile: true
---

<p><strong>1. Image Generation:</strong></p>
<div style="position:relative;padding-bottom:56.25%;height:0;overflow:hidden;">
  <iframe src="https://www.youtube.com/embed/FKa7gCUX4pw"
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
          frameborder="0"
          allowfullscreen>
  </iframe>
</div>

<p><strong>2. Object Video Semantic and Instance Segmentation:</strong></p>
<div style="position:relative;padding-bottom:56.25%;height:0;overflow:hidden;">
  <iframe src="https://www.youtube.com/embed/3XQsHEP_foU"
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
          frameborder="0"
          allowfullscreen>
  </iframe>
</div>

<p><strong>3. Video Super Resolution:</strong></p>
<div style="position:relative;padding-bottom:56.25%;height:0;overflow:hidden;">
  <iframe src="https://www.youtube.com/embed/bNq-GhZ7qSQ"
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
          frameborder="0"
          allowfullscreen>
  </iframe>
</div>

{% include base_path %}

{% for post in site.projects %}
  {% include archive-single.html %}
{% endfor %}
